@font-face {
  font-family: "SuperShiny";
  src: url("./medias/SuperShiny.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "SuperShiny";
  letter-spacing: 1px;
}
button {
  font-family: "SuperShiny";
  font-size: 2rem;
  padding: 8px 16px;
  background-color: white;
  border-radius: 10px;
}

.title {
  background-color: #fcf5ee;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding: 20px 20px;
  border-radius: 20px;
}

#gameArea {
  position: relative;
  width: 100%;
  height: calc(100vh);
  height: calc(var(--vh, 1vh) * 100);
  background: #fcf5ee;
  overflow: hidden;
}

.ifrat {
  position: absolute;
  bottom: 50px;
  width: 50px;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.object {
  position: absolute;
  width: 40px;
  height: 40px;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: #333;
}

video {
  position: fixed;
  width: 144px;
  height: 144px;
  display: none;
}
#dance1 {
  top: 20%;
  left: 20%;
}
#dance2 {
  top: 20%;
  right: 20%;
}
#dance3 {
  top: calc(20% + 164px);
  left: 20%;
}
#dance4 {
  top: calc(20% + 164px);
  right: 20%;
}

#final-score,
#end-text-1,
#end-text-2 {
  display: none;
}
